.list img {
  width: 48px;
}
#canvas {
  height: 200px;
  width: 200px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 11;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  background: url("/assets/img/icon/transparent.png");
/* these two are deprecated. chrome seems to not work if we use class to control this...? */
}
#canvas .inner {
  width: 100%;
  height: 100%;
}
#canvas > .inner {
  overflow: hidden;
}
#canvas:hover,
#canvas:hover > .inner {
  overflow: visible;
}
#canvas:hover .hover-tip {
  opacity: 0;
}
#canvas i {
  font-size: 128px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 128px;
  width: 128px;
}
#canvas img {
  width: 128px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#canvas image.auto {
  image-rendering: auto;
}
#canvas image.pixelated {
  image-rendering: optimizeSpeed;
/* Legal fallback */
  image-rendering: -moz-crisp-edges;
/* Firefox        */
  image-rendering: -o-crisp-edges;
/* Opera          */
  image-rendering: -webkit-optimize-contrast;
/* Safari         */
  image-rendering: optimize-contrast;
/* CSS3 Proposed  */
  image-rendering: crisp-edges;
/* CSS4 Proposed  */
  image-rendering: pixelated;
/* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;
/* IE8+           */
  image-rendering: pixelated;
}
#ctrls {
  width: 780px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 40px;
  padding-top: 25px;
  text-align: left;
}
#ctrls label {
  display: block;
  margin-bottom: 5px;
}
#upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  cursor: pointer;
  z-index: 10;
}
.irs {
  top: -1px;
}
.irs-line,
.irs-bar-edge,
.irs-bar {
  top: 20px;
}
.irs-slider {
  top: 17px;
}
#icon-picker-hint {
  margin: -40px auto 20px;
  background: #fff;
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
}
#icon-picker {
  width: 850px;
  height: 130px;
  margin: auto;
}
#icon-picker .col-sm-12 {
  height: 100%;
}
#icon-picker .item-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#icon-picker .item-list:after {
  content: " ";
  display: block;
  width: 0px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
#icon-picker .item {
  cursor: pointer;
  font-size: 32px;
  width: 36px;
  display: inline-block;
  margin: 10px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: {"red":"(#c7254e)","green":"(#15b73e)","blue":"(#337ab7)","danger":"(#d9534f)","warning":"(#f0ad4e)","success":"(#5cb85c)","primary":"(#337ab7)","info":"(#5bc0de)"} 0.3s linear;
  transition: {"red":"(#c7254e)","green":"(#15b73e)","blue":"(#337ab7)","danger":"(#d9534f)","warning":"(#f0ad4e)","success":"(#5cb85c)","primary":"(#337ab7)","info":"(#5bc0de)"} 0.3s linear;
}
#icon-picker .item:hover {
  margin-top: 8px;
  color: #b65;
}
#icon-picker.new {
  width: 100%;
  max-width: 300px;
  height: 100px;
}
#icon-picker.new .item {
  margin: 0 5px;
  height: 40px;
  border: 1px solid transparent;
}
#icon-picker.new .item.selected,
#icon-picker.new .item:hover {
  border-radius: 3px;
  border-color: #f00;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
#icon-picker.new img {
  width: 32px;
  vertical-align: text-top;
}
#modal-download .cover-inner {
  width: 300px;
  height: 135px;
  font-size: 24px;
  color: #222;
  padding: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#modal-download .cover-inner.preview {
  height: 400px;
}
#modal-download .img-wrapper {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 1px solid #999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  position: relative;
  background: url("/assets/img/icon/transparent.png");
  border-radius: 3px;
}
#modal-download img {
  z-index: 9;
}
#modal-download .btn {
  z-index: 10;
}
