#nav-top {
  width: 100%;
  height: 70px;
  background: none;
  position: fixed;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 28;
}
#nav-top nav.navbar-default {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#nav-top.dim {
  height: 50px;
  background: rgba(255,255,255,0.9);
}
@media (max-width: 682px) {
  #nav-top.dim {
    height: 45px;
  }
}
#nav-top.dim nav.navbar-default {
  margin: 5px auto;
}
#nav-top .container-fluid,
#nav-top #nav-collapse {
  padding: 0;
}
#iconview #nav-top nav.navbar-default {
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#iconview #nav-top nav.navbar-default .navbar-brand,
#iconview #nav-top nav.navbar-default .navbar-nav > li > a:hover {
  text-shadow: 0 0 5px rgba(255,255,128,0.7);
}
#nav-top nav.navbar-default {
  background: none;
  border: none;
  color: #444;
  max-width: 1200px;
  margin: 20px auto;
  font-family: "century gothic", arial;
}
#nav-top nav.navbar-default .navbar-brand,
#nav-top nav.navbar-default .navbar-nav > li > a {
  color: #444;
  font-family: "century gothic", arial;
  letter-spacing: 1px;
}
#nav-top nav.navbar-default .navbar-brand:hover,
#nav-top nav.navbar-default .navbar-nav > li > a:hover {
  color: #000;
  text-shadow: 0 3px 1px rgba(0,0,0,0.1);
}
#nav-top nav.navbar-default .navbar-brand {
  padding-top: 9px;
  padding-left: 0;
}
#nav-top nav.navbar-default .navbar-nav > li > a {
  padding: 10px 9px;
}
@media (max-width: 480px) {
  #nav-top nav.navbar-default .navbar-nav > li > a {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  #nav-top nav.navbar-default {
    max-width: 800px;
  }
  #nav-top nav.navbar-default .navbar-header {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  #nav-top nav.navbar-default {
    margin-top: 5px;
    min-height: initial;
  }
  #nav-top nav.navbar-default .navbar-brand {
    font-size: 1.2em;
    line-height: 1.3em;
    padding: 13px 8px 0 13px;
  }
  #nav-top nav.navbar-default .navbar-header .navbar-toggle {
    background: none;
    border: 1px solid transparent;
  }
  #nav-top nav.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background: #444;
  }
  #nav-top nav.navbar-default .navbar-collapse {
    background: rgba(224,224,224,0.5);
    border-color: transparent;
  }
  #nav-top nav.navbar-default .navbar-collapse .nav.navbar-nav > li {
    float: none;
  }
}
@media (max-width: 800px) {
  #iconview #nav-top nav.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
  }
  #iconview #nav-top nav.navbar-default .navbar-collapse {
    background: rgba(0,0,0,0.5);
  }
}
@media (max-width: 800px) {
  #nav-top.dim nav.navbar-default .navbar-brand {
    padding: 9px 8px 0 13px;
  }
  #nav-top.dim nav.navbar-default .navbar-header .navbar-toggle {
    margin-top: 0;
  }
  #nav-top.dim nav.navbar-default .navbar-collapse {
    position: relative;
    top: -10px;
  }
}
#nav-top li.dropdown {
  cursor: pointer;
  padding: 0;
}
#nav-top li.dropdown .avatar {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #ddd;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
#nav-top li.dropdown li {
  text-shadow: none;
}
#nav-top li.dropdown .dropdown-menu {
  background: #fff;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
#nav-top .pull-right li.dropdown .dropdown-menu {
  left: auto;
  right: 5px;
}
#nav-top .navbar-nav {
  float: left;
  margin: 0;
}
#nav-top .navbar-nav > li {
  float: left;
}
@media (max-width: 682px) {
  #nav-top .navbar-nav > li > a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.9em;
  }
  #nav-top .navbar-nav > li.heart {
    display: none;
  }
}
#nav-top .navbar-default .navbar-nav > .open > a {
  background: rgba(0,0,0,0.1);
}
#nav-login i.fa {
  display: none;
}
@media (max-width: 480px) {
  #nav-login span {
    display: none;
  }
  #nav-login i.fa {
    display: inline;
  }
}
#iconview #nav-top.dim,
#nav-top.invert.dim,
body.invert #nav-top.dim {
  background: rgba(0,0,0,0.5);
}
#iconview #nav-top nav.navbar-default,
#nav-top.invert nav.navbar-default,
body.invert #nav-top nav.navbar-default {
  color: #fff;
}
#iconview #nav-top nav.navbar-default .navbar-brand,
#nav-top.invert nav.navbar-default .navbar-brand,
body.invert #nav-top nav.navbar-default .navbar-brand,
#iconview #nav-top nav.navbar-default .navbar-nav > li > a,
#nav-top.invert nav.navbar-default .navbar-nav > li > a,
body.invert #nav-top nav.navbar-default .navbar-nav > li > a {
  color: #fff;
}
#iconview #nav-top nav.navbar-default .navbar-brand:hover,
#nav-top.invert nav.navbar-default .navbar-brand:hover,
body.invert #nav-top nav.navbar-default .navbar-brand:hover,
#iconview #nav-top nav.navbar-default .navbar-nav > li > a:hover,
#nav-top.invert nav.navbar-default .navbar-nav > li > a:hover,
body.invert #nav-top nav.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
#nav-top li#nav-profile.dropdown ul.dropdown-menu:before {
  content: " ";
  display: block;
  position: absolute;
  top: -15px;
  right: 30px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #ccc;
}
#nav-top li#nav-profile .label {
  padding-bottom: 0.2em;
  margin-left: 5px;
  vertical-align: middle;
}
#nav-top li#nav-profile .inline-block {
  padding-top: 0.2em;
}
#iconview #nav-top li.dropdown ul.dropdown-menu,
body.invert #nav-top li.dropdown ul.dropdown-menu {
  background: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.7);
}
#iconview #nav-top li.dropdown ul.dropdown-menu > li > a,
body.invert #nav-top li.dropdown ul.dropdown-menu > li > a {
  color: #fff;
  letter-spacing: 0.5px;
}
#iconview #nav-top li.dropdown ul.dropdown-menu > li > a:hover,
body.invert #nav-top li.dropdown ul.dropdown-menu > li > a:hover {
  color: #444;
}
#iconview #nav-top li.dropdown ul.dropdown-menu li.divider,
body.invert #nav-top li.dropdown ul.dropdown-menu li.divider {
  background-color: rgba(0,0,0,0.4);
}
#iconview #nav-top li.dropdown ul.dropdown-menu:before,
body.invert #nav-top li.dropdown ul.dropdown-menu:before {
  border-bottom-color: rgba(0,0,0,0.5);
}
#nav-login,
#nav-signup {
  padding-right: 0;
}
.code {
  font-family: consolas, 'courier new';
  background: rgba(0,0,0,0.03);
  overflow-x: scroll;
  border: 1px solid #ddd;
  padding: 15px;
}
.ads {
  width: 320px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  background: #222;
  color: #eee;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 13;
  border: 5px solid #222;
  border-radius: 3px;
  left: 50%;
  margin-top: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ldColorPicker {
  z-index: 10;
}
.btn.disabled.grayed {
  cursor: not-allowed;
  background: #fbfbfb;
}
.btn.disabled.grayed > div {
  background: #eee !important;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: varela round, arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: varela round, arial;
}
.icon-middle {
  vertical-align: middle;
}
#landing {
  width: 100%;
  height: 400px;
  background: #444;
  color: #fff;
  position: relative;
  border-bottom: 10px solid #222;
  background: url("/assets/img/bk-icon3.jpg") #f2bd91 fixed top center no-repeat;
  background-size: cover;
}
#landing small.light {
  color: #fff;
}
@media (max-width: 640px) {
  #landing h1 {
    font-size: 2.1em;
  }
}
#landing .inner {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  max-width: 800px;
  width: 96%;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#landing .inner input.form-control {
  border: 1px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#landing .inner .btn.btn-transparent {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#landing .inner .title {
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#root {
  margin: 20px;
}
#comment {
  max-width: 1024px;
  width: 90%;
  margin: 20px auto;
}
#faq {
  max-width: 1024px;
  width: 90%;
  margin: auto;
  text-align: left;
}
#faq.document h3 {
  margin: 30px 0 10px;
}
.document .content h4 {
  margin: 5px 0 15px;
  font-size: 1.4em;
  line-height: 1.5em;
}
.document .content h4:first-letter {
  font-size: 1.2em;
}
.ldmodal .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 30;
}
.ldmodal .cover-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 64px;
  color: #fff;
  z-index: 31;
  text-align: center;
}
